.list-project{
    padding: 10px 10px 0 10px;
    background-color: white;
    overflow: auto;
    max-height: 480px;
    .project{
        margin-bottom: 10px;
        border: 1px solid #eee;
    }
    .header{
        display: flex;
        justify-content: space-between;
    }
}