<div nz-row [nzGutter]="[15,15]" class="dashboard">
    <div nz-col nzXs="24" nzMd="8">
        <div class="panel-primary panel">
            <h3 nz-typography >{{ nowDateTime | date:'fullDate' }}</h3>
            <div id="time">{{ nowDateTime | date: 'shortTime' }}</div>
        </div>
    </div>
    <div nz-col nzXs="24" nzMd="16">
        <h3 nz-typography>My projects</h3>
        <ng-container *ngIf="api.apiProjectsList() | async as projects; else loading">
            <ng-container *ngIf="projects.length > 0; else empty">
                <div *ngFor="let project of projects" class="card-wrapper">
                    <app-project-card [project]="project"></app-project-card>
                </div>
            </ng-container>
            <ng-template #empty>
                <app-empty-data 
                description="Project Empty" 
                [routerLink]="['/projects/create']"></app-empty-data>
            </ng-template>
        </ng-container>
        <ng-template #loading>
            <div class="panel panel-white">
                <nz-skeleton [nzActive]="true"></nz-skeleton>
            </div>
            <div class="panel panel-white">
                <nz-skeleton [nzActive]="true"></nz-skeleton>
            </div>
        </ng-template>
    </div>
</div>
