@import 'src/styles/contants.scss';

#time{
    font-size: 50px;
}

.card-wrapper{
    margin-bottom: 10px;
}

.project-list{
    background-color: #4da6ff;
    padding: 10px !important;
    h3{
        color: white
    }
    overflow: auto;
    max-height: 410px;
}

.dashboard{
    min-height: $fixed-height;
}