@import 'src/styles/constants.scss';

.welcome-page {
  min-height: $fixed-height;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  * {
    text-align: center;
  }
  .logo {
    height: 180px;
  }
}
