<div class="panel panel-white">
  <div class="header">
    <nz-tag [nzColor]="colors[task.status ?? 'UnComplete']">{{
      task.status
    }}</nz-tag>
    <br />
    <a
      style="color: black"
      [routerLink]="['/projects', task.project?.id, 'tasks', task.id]"
      >{{ task.title }}</a
    >
  </div>
  <div class="description">
    <div>
      <nz-avatar nzShape="square" [nzSrc]="task.owner?.picture"></nz-avatar>
      {{ task.owner?.nickname }} (owner)
    </div>
    <div>
      <nz-tag *ngFor="let tag of task.tags" [nzColor]="tag.color">{{
        tag.name
      }}</nz-tag>
    </div>
    <div *ngIf="task?.start_datetime">
      <nz-tag>
        <i nz-icon nzType="calendar" nzTheme="outline"></i>
        Schedule: {{ task?.start_datetime | date: 'shortDate' }} - {{ task?.end_datetime | date: 'shortDate' }}
      </nz-tag>
    </div>
    <div *ngIf="task?.due_datetime">
      <nz-tag nzColor="warning">
        <i nz-icon nzType="field-time" nzTheme="outline"></i>
        {{ task?.due_datetime | date: 'short' }}
      </nz-tag>
      <nz-tag
        nzColor="red"
        *ngIf="isBeforeNow(task?.due_datetime!)"
        style="margin-left: 5px"
      >
        Overdue
      </nz-tag>
    </div>
  </div>
</div>
