nz-header{
  padding: 0 24px !important;
}

.logo {
  height: 32px;
  line-height: 32px;
  margin: 16px;
  color: white;
  text-align: center;
  font-size: medium;
}

nz-header {
  display: flex;
  justify-content: flex-end;
}

nz-content {
  margin: 15px;
  padding: 15px;
}

nz-footer {
  text-align: center;
}
