nz-layout#main-layout {
  height: 100vh;
}

nz-header{
  padding: 0 24px !important;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  line-height: 32px;
  margin: 16px;
  color: white;
  text-align: center;
  font-size: medium;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 16px 16px 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-footer {
  text-align: center;
}
