nz-header {
  padding: 0 24px !important;
}

.logo {
  height: 32px;
  line-height: 32px;
  margin: 16px;
  color: white;
  text-align: center;
  font-size: medium;
}

nz-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nz-content {
  margin: 10px;
}

nz-footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
