.ant-divider-horizontal{
    margin: 5px 0 !important;
    .ant-divider-inner-text{
        font-weight: bold;
    }
}

app-profile-select .ant-select-multiple .ant-select-selection-item{
    height: 40px !important;
    align-items: center !important;
    nz-avatar{
        margin-right: 5px;
    }
}

$colors-theme: (
    "primary": #4D96FF,
    "success": #6BCB77,
    "warning": #F76E11,
    "danger": #890F0D,
    "info": #85F4FF,
    "dark": #1A132F,
    "white": white,
);

.panel{
    padding: 15px;
    & + &{
        margin: 15px 0;
    }
    border-radius: 10px;
}

.panel-white{
    color: black !important;
}

@each $name, $color in $colors-theme {
    .panel-#{$name}{
        color: white;
        background-color: $color;
    }

    .border-#{$name}{
        border-color: $color;
    }
}

.border{
    border-width: 2px;
    border-style: solid;
    border-color: #eee;
}

.border-thick{
    border-width: 5px;
}

div.ant-typography{
    margin-bottom: 0;
}

.ant-typography-edit{
    color:inherit;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
    background-color: #808080;
}