<nz-select
  nzMode="multiple"
  nzPlaceHolder="Select profiles"
  nzAllowClear
  nzShowSearch
  nzServerSearch
  [ngModel]="profiles"
  (ngModelChange)="onModelChange($event)"
  (nzOnSearch)="onSearch($event)"
  [nzCustomTemplate]="profilesTpl"
  [compareWith]="compareProfile"
>
  <ng-container *ngFor="let p of profiles">
    <nz-option
      *ngIf="!isLoading"
      [nzValue]="p"
      [nzLabel]="p.nickname"
      nzCustomContent
    >
      <nz-avatar [nzSrc]="p.picture" [nzShape]="'square'"></nz-avatar>
      {{ p.nickname }}
    </nz-option>
  </ng-container>
  <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
    <i nz-icon nzType="loading" class="loading-icon"></i>
    Loading Data...
  </nz-option>
</nz-select>
<ng-template #profilesTpl let-selected>
  <nz-avatar
    [nzSrc]="selected.nzValue.picture"
    [nzShape]="'square'"
  ></nz-avatar>
  {{ selected.nzValue.nickname }}
</ng-template>
