<nz-empty
      nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
      [nzNotFoundContent]="contentTpl"
      [nzNotFoundFooter]="footerTpl"
    >
    <ng-template #contentTpl>
    <span>
        {{ description }}
    </span>
    </ng-template>
    <ng-template #footerTpl>
        <ng-container *ngIf="routerLink; else buttonTpl">
            <a nz-button nzType="primary" [routerLink]="routerLink">Create now</a>
        </ng-container>
        <ng-template #buttonTpl>
            <button nz-button nzType="primary" (click)="clickButton.emit('')">Create Now</button>
        </ng-template>
    </ng-template>
</nz-empty>