.section{

    .header{
        padding: 10px;
        display: flex;
        justify-content: space-between;

        [nzEditable]{
            color: white;
            padding: 0;
            font-weight: bold;
            font-size: 18px;
        }
    }

    .content{
        padding: 0 10px 10px 10px;
        .task{
            margin-bottom: 10px;
        }
        .task:last-child{
            margin-bottom: 0;
        }
    }
}


